body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 214, 236);
}

header {
  background-color: rgb(255, 161, 207);
  padding: 1rem;
}

header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
